<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>pokemon</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script>
    var c_lat, c_lng;

    function init_pos() {
        navigator.geolocation.getCurrentPosition(pos_set, pos_err);
    }

    var pos_set = function (pos) {
        c_lat = pos.coords.latitude;
        c_lng = pos.coords.longitude;

        initMap();
    };

    var pos_err = function (err) {
        alert(err);
    };

    function http_get(url) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", url, true);
        xmlHttp.send(null);
    }

    function initMap() {
        var my_pos = {lat: c_lat, lng: c_lng};

        var pokeStyle = [{
            "featureType": "water",
            "stylers": [
              { "visibility": "on" },
              { "color": "#1A87D6" }
            ]
          },{
            "featureType": "landscape",
            "stylers": [
              { "color": "#AFFFA0" }
            ]
          },{
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
              { "color": "#59A499" }
            ]
          },{
            "featureType": "poi",
            "stylers": [
              { "color": "#05ae90" }
            ]
          }, {
            "featureType": "poi",
            "elementType": "labels",
            "stylers": [
              {"visibility": "off"}
            ]
          },
          {
            "featureType": "road",
            "elementType": "geometry.stroke",
            "stylers": [
              { "color": "#F0FF8D" },
              { "weight": 2.2 }
            ]
          },{
            "featureType": "poi.business",
            "stylers": [
              { "visibility": "off" }
            ]
          },{
            "featureType": "poi.government",
            "stylers": [
              { "visibility": "off" }
            ]
          },{
            "featureType": "administrative.locality",
            "stylers": [
              { "visibility": "off" }
            ]
          }
        ]


        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: my_pos,
            scrollwheel: true,
            zoom: 18,
            keyboardShortcuts: false,
            styles:pokeStyle
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
            map: map,
            position: my_pos,
            draggable: true
        });

        google.maps.event.addDomListener(document, 'keydown', function (event) {
            if ([37, 38, 39, 40].indexOf(event.keyCode) != -1) {
                var offset = parseFloat(Math.random() / 10000);
                if (event.keyCode == 37) { // left
                    my_pos.lng -= offset;
                }
                if (event.keyCode == 38) { // up
                    my_pos.lat += offset;
                }
                if (event.keyCode == 39) { // right
                    my_pos.lng += offset;
                }
                if (event.keyCode == 40) { // down
                    my_pos.lat -= offset;
                }
                my_pos.lat = parseFloat(my_pos.lat);
                my_pos.lng = parseFloat(my_pos.lng);
                marker.setPosition(my_pos);
                map.panTo(my_pos);

                http_get('/pos?lat=' + my_pos.lat + '&lng=' + my_pos.lng);
            }
        });

        google.maps.event.addListener(marker, 'dragend', function (e) {
            var pos = marker.getPosition();
            my_pos.lat = parseFloat(pos.lat());
            my_pos.lng = parseFloat(pos.lng());
            map.panTo(pos);
            http_get('/pos?lat=' + my_pos.lat + '&lng=' + my_pos.lng);
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=init_pos"
        async defer>
</script>
</body>
</html>
