<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>Pokemon Go Keyboard</title>
    <link rel="icon" href="{{ url_for('static', filename='pokeball.png') }}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script>
    var c_lat, c_lng;

    function init_pos() {
        navigator.geolocation.getCurrentPosition(pos_set, pos_err);
    }

    var pos_set = function (pos) {
        c_lat = pos.coords.latitude;
        c_lng = pos.coords.longitude;

        initMap();
    };

    var pos_err = function (err) {
        alert(err);
    };

    function initMap() {
        var my_pos = {lat: c_lat, lng: c_lng};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: my_pos,
            zoom: 18,
            keyboardShortcuts: false
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
            map: map,
            position: my_pos,
            draggable: true,
            icon: 'static/img/pokeball.png'
        });

        function http_get(url) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.send(null);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    var obj = JSON.parse(xhr.responseText);
                    if (obj.pokemons !== undefined && obj.pokemons.length > 0) {
                        for (var i = 0; i < obj.pokemons.length; i++) {
                            add_marker(obj.pokemons[i]);
                        }
                    }
                }
            }
        }

        function update_position() {
            map.panTo(my_pos);
            http_get('/pos?lat=' + my_pos.lat + '&lng=' + my_pos.lng);
        }

        function add_marker(item) {
            new google.maps.Marker({
                position: {
                    lat: item.latitude,
                    lng: item.longitude
                },
                map: map,
                icon: 'static/img/icons/' + item.pokemon_id + '.png'
            });
        }

        google.maps.event.addDomListener(document, 'keydown', function (event) {
            if ([37, 38, 39, 40, 27].indexOf(event.keyCode) != -1) {
                var offset = parseFloat(Math.random() / 10000);
                if (event.keyCode == 37) { // left
                    my_pos.lng -= offset;
                }
                if (event.keyCode == 38) { // up
                    my_pos.lat += offset;
                }
                if (event.keyCode == 39) { // right
                    my_pos.lng += offset;
                }
                if (event.keyCode == 40) { // down
                    my_pos.lat -= offset;
                }
                if (event.keyCode == 27) { // escape, go back to real position
                    if (confirm("Do you want to go back to your real position ?")) {
                        my_pos.lat = c_lat;
                        my_pos.lng = c_lng;
                    }
                }
                my_pos.lat = parseFloat(my_pos.lat);
                my_pos.lng = parseFloat(my_pos.lng);
                marker.setPosition(my_pos);
                update_position();
            }
        });

        google.maps.event.addListener(marker, 'dragend', function (e) {
            var pos = marker.getPosition();
            my_pos.lat = parseFloat(pos.lat());
            my_pos.lng = parseFloat(pos.lng());
            update_position();
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=init_pos&key={{ GMAPS_KEY }}"
        async defer>
</script>
</body>
</html>
